<h1>shiba daito</h1>
<h3>新規投稿ページ</h3>
<%= form_for @shiba do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :size => 30 %>
  </div>

  <div class="field">
    <%= f.label :genre  %>
    <%= f.select :genre, 
    [["A", "A"], 
    ["B", "B"], 
    ["C", "C"]], include_blank: "選択して下さい" %>
  </div>

  <div class="field">
    <%= f.label :about  %>
    <%= f.text_area :about, :size => "30x2" %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.text_field :image, :size => 30 %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  
  <%= f.submit "投稿する" %>
<% end %>

<%= link_to "一覧に戻る", shibas_path %>
