<div class="syousaipage">
  <div class="syousai">
  </div>
  <div class="toukounaiyou">
    <div class="shiba">
      <h1><%= @shiba.name %></h1>
      <p><%= image_tag @shiba.image_url, size: "400x500" if @shiba.image? %></p>
      <p1><%= @shiba.genre %></p1>
      <p><%= @shiba.about %></p>
      <p><%= @shiba.created_at %></p>
      <% if user_signed_in? %>
          <% if current_user.already_liked?(@shiba) %>
            <%= link_to shiba_like_path(@shiba), method: :delete do %>
              <i class="fa-solid fa-eye" style="color: #bd0000;"></i><%= @shiba.likes.count %>
            <% end %>
          <% else %>
            <%= link_to shiba_likes_path(@shiba), method: :post do %>
              <i class="fa-solid fa-eye" style="color: #bd0000;"></i><%= @shiba.likes.count %>
            <% end %>
          <% end %>
        <% else %>
        <i class="fa-solid fa-eye" style="color: #bd0000;"></i><%= @shiba.likes.count %>
        <% end %>
        <% if user_signed_in? && current_user.id == @shiba.user_id %>
        <%= link_to "編集する", edit_shiba_path(@shiba.id) %>
        <%= button_to "削除する", shiba_path(@shiba.id), method: :delete %> 
      <% end %> 
    </div>

    <h2>いいねしたユーザー</h2>
    <% @shiba.liked_users.each do |user| %>
      <pi><%= user.email %></pi>
    <% end %>

    <div class="comment-wrapper">
      <p>コメント一覧</p>
      <% @comments.each do |c| %>
        <div>
          <%= c.user.email unless c.user.blank? %>
          <br>
          <%= c.content %>
          <br>
        </div>
          
      <% end %>
      <div class="comment">
      <% if user_signed_in? %>
        <%= form_with(model: [@shiba, @comment], local: true) do |f| %>
          <div>
          <%= f.text_area :content %>
          </div>
          <div>
          <%= button_tag type: "submit" do %>
            <i class="far fa-comments"></i> コメントする
          <% end %>
          </div>
        <% end %>
      <% end %>
      </div>
    </div>
   </div> 
</div>
<div class="itirannhe">
<%= link_to "一覧に戻る", shibas_path %>
</div>