<!DOCTYPE html>
<html>
  <head>
    <title>Daito</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/d5e8329063.js" crossorigin="anonymous"></script>
  </head>

  <body>
  <header>
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Slackside+One&display=swap" rel="stylesheet">

   <%= link_to image_tag('head.png',class:"sindan5" ), shibas_shibadai_path %>
      <div class="header-list">
      <ul>
        <%= link_to image_tag('5.png',class:"aun" ), shibas_a_path %>
        <%= link_to image_tag('top',class:"sindan6" ), shibas_shibadai_path %>
        <%= link_to image_tag('toukouiti',class:"sindan" ), shibas_path %>
        <%= link_to image_tag('sinnkitoukou',class:"sindan2"), new_shiba_path %>
        <%= link_to image_tag('sinndann2', class:"sindan3"), perfumes_path  %>
        <% if user_signed_in? %>
          <li><%= button_to 'ログアウト', destroy_user_session_path, method: :delete, class:"out" %></li>
        <% else %>
          <li><%= link_to image_tag('sinnkitouroku',class:"sindan4" ), new_user_registration_path %></li>
          <li><%= button_to "ログイン", new_user_session_path,class:"in" %></li>
        <% end %>
      </ul>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
