<!DOCTYPE html>
<html>
  <head>
    <title>Daito</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Slackside+One&display=swap" rel="stylesheet">

      <h1>daito</h1>
      <div class="header-list">
      <ul>
        <%= link_to "ホーム", shibas_path %>
        <%= link_to "診断する", perfumes_path %>
        <% if user_signed_in? %>
          <li><%= button_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
          <li><%= link_to "新規投稿",new_shiba_path %></li>
        <% else %>
          <li><%= link_to "新規登録", new_user_registration_path %></li>
          <li><%= link_to "ログイン", new_user_session_path %></li>
        <% end %>
      </ul>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
